@import "tailwindcss";

@theme {
  --color-*: initial;
  --color-orange-base: #F24D0D;
  --color-orange-dark: #C43C08;
  --color-blue-light: #D7EFF9;
  --color-blue-base: #5EC5FD;
  --color-blue-dark: #009CF0;
  --color-white: #FFFFFF;
  --color-background: #FBF4F4;
  --color-shape: #F5EAEA;
  --color-gray-100: #ADADAD;
  --color-gray-200: #949494;
  --color-gray-300: #666666;
  --color-gray-400: #3D3D3D;
  --color-gray-500: #1D1D1D;
  --color-danger: #DC3545;
  --color-success: #28A745;

  --font-dm-sans: "DM Sans", sans-serif; 
  --font-poppins: "Poppins", sans-serif; 

  --text-*: initial;
  --text-title-lg: 1.75rem;
  --text-title-md: 1.5rem;
  --text-title-sm: 1.125rem;

  --text-subtitle: 1rem;
  --text-body-md: 1rem;
  --text-body-sm: 0.875rem;
  --text-body-xs: 0.75rem;  
  --text-label-md: 0.75rem;
  --text-label-sm: 0.625rem;
  --text-action-md: 1rem;
  --text-action-sm: 0.875rem;
}

:root {
  font-family: var(--font-poppins);
  line-height: 120%;
}